.App {
  text-align: center;
}

.content-container {
  padding-left: 3em;
  padding-right: 3em;
  margin-top: 3em;
}
.sentence {
  font-size: larger;
}
.word {
  font-size: xx-large;
}
abbr {
  text-decoration: none;
}
abbr.adverb{
  color:darkgoldenrod;
}
abbr.verb {
  color:red;
}
abbr.pronoun {
  color:darkblue;
}
abbr.adjectiv {
  color:darkcyan;
}
div.pron {
   
    font-size:14pt;
    cursor: pointer;
}
div.cards {
  padding:10px;
  float: left;
}
div.card {
  border:1px black solid;
  display: flex;
  width:270px;
  height:80px;
  box-shadow: 5px 5px 5px  rgba(0,0,0,0.6);
  -moz-box-shadow: 5px 5px 5px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 5px 5px 5px  rgba(0,0,0,0.6);
  -o-box-shadow: 5px 5px 5px  rgba(0,0,0,0.6);
  border-radius:12px;

}
div.cardcontent{
  margin:auto auto;
}

h1 {
  clear: both;
}